:root {
  --bg-color: #000;
  --flowing-color:#2c2f22;
}

.box {
  padding: 15vmin 10vmin;
  /* background: var(--bg-color); */
  border-radius: 5vmin;
  color: #66dd7f;
  font-size: 8vmin;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.box::before {
  content: '';
  width: 200%;
  height: 200%;
  background-color: var(--flowing-color);
  position: absolute;
  top: -50%;
  left: -50%;
  background-image: conic-gradient(transparent, #66ddf7, transparent 30%);
  z-index: -2;
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(-360deg);
  }
}

.box::after {
  content: '';
  position: absolute;
  inset: 1vmin;
  background-color: var(--bg-color);
  z-index: -1;
}